# Python
venv/
backend/venv/
__pycache__/
*.pyc
*.pyo
TongHop/

# ML / YOLO
YOLOv8/
*.pt
backend/YOLOv8/
backend/TongHop/

# YOLO training output
backend/app/models/runs
YOLOv8/

# Frontend
client-web/
dashboard/node_modules
login/node_modules

# Git
.git/
.gitignore

# Node
node_modules/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Env
.env

Dockerfile
docker-compose.yml




