fastapi
uvicorn[standard]

sqlalchemy
sqlmodel
asyncpg

pydantic
pydantic-settings
python-dotenv

PyJWT

stripe

numpy==1.26.4
opencv-python
ultralytics==8.0.38
pytesseract

google-api-python-client
google-auth
google-auth-oauthlib

email-validator
python-multipart
holidays
httpx
PyQt6

passlib
setuptools