fastapi
uvicorn[standard]

sqlalchemy
sqlmodel
asyncpg

pydantic
pydantic-settings
python-dotenv

PyJWT

numpy==1.26.4
opencv-python
ultralytics
pytesseract

google-api-python-client
google-auth
google-auth-oauthlib

email-validator
python-multipart
holidays

